<nav>
    <ul>
        <li>
            <a href="/">Home</a>
        </li>
        <li>
            <a href="/new">New Card</a>
        </li>
        <li>
            <a href="/sign">Sign Card</a>
        </li>
        <li>
            <a href="/faq">FAQ</a>
        </li>
    </ul>
</nav>