<html>
    <body>
        <% include partials/header %>
        <% include partials/nav %>
        <main>
            <h1>
                Welcome to Cardeasy!
            </h1>
            <h3>
                Cards made easy!
            </h3>
        </main>
        <% include partials/footer %>
    </body>
</html>