<html>
    <body>
        <% include partials/header %>
        <% include partials/nav %>
        <main>
            <h1>Make a new Card!</h1>
            <form method="post" id="newCardForm">
                <label for="sender_name">Your name:</label>
                <input type="text" name="sender_name" id="sender_name">
                
                <label for="sender_email">Your email:</label>
                <input type="text" name="sender_email" id="sender_email">
                
                <label for="recipient_name">Recipient's name:</label>
                <input type="text" name="recipient_name" id="recipient_name">
                
                <label for="recipient_email">Recipient's email:</label>
                <input type="text" name="recipient_email" id="recipient_email">

                <label for="contributors">Contributors:</label>
                <ul id="contributors">
                    <li>
                        <input type="text" name="contributor[]" id="contributor[]">
                    </li>
                </ul>

                <input type="submit" value="Submit">
            </form>

        </main>
        <% include partials/footer %>
    </body>
</html>