<html>
    <body>
        <% include partials/header %>
        <% include partials/nav %>
        <main>
            <h1>Sign an existing card...</h1>
            <form method="post">
                <label for="message">Write your message here:</label>
                <input type="text" name="message" id="message">
                <button type="submit">Submit?</button>
            </form>
        </main>
        <% include partials/footer %>
    </body>
</html>