<html>
    <body>
        <% include partials/header %>
        <% include partials/nav %>
        <main>
            <details>
                Here are some details about signing a card!
            </details>
            <form method="post"></form>
        </main>
        <% include partials/footer %>
    </body>
</html>