@mixin FormH5 {
    grid-area: form-title;
    font-size: 2rem;
    text-decoration: underline;
    text-underline-offset: 15px;
    text-decoration-thickness: 3px;
    line-height: 1.5;
}

@mixin FormSection {
    grid-area: form-part;
}

@mixin FormBackButton {
    grid-area: form-back;
}

@mixin FormNextButton {
    grid-area: form-next;
}

@mixin FormTextArea {
    resize: none;
    padding: 15px;
}