@mixin FormH5 {
    grid-area: form-title;
    font-size: 2rem;
    width: 100%;
    text-decoration: underline;
    text-underline-offset: 15px;
    text-decoration-thickness: 3px;
    line-height: 1.5;
    margin: 0px 0px 0px auto;
}

@mixin FormSection {
    grid-area: form-part;
    padding: 0px 20px;
}

@mixin FormBackButton {
    grid-area: form-back;
}

@mixin FormNextButton {
    grid-area: form-next;
}

@mixin FormTextArea {
    resize: none;
    padding: 15px;
}

@mixin general {
    .buttonStyle {
        font-size: 1.0rem;
        background-color: cornflowerblue;
        display: block;
        color: white;
        border: none;
        margin: 0px;
        font-size: 2rem;
        border-radius: 50px;
        cursor: pointer;
        transition: 0.5s;
    }

    .buttonstyle:hover {
        background-color: mediumblue;
        transition: 1s;
    }
}