@use "form_layouts" as Form;
@use "../variables" as v;

@mixin html {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;

    background-color: white;

    * {
        background-color: white;
    }

    box-sizing: border-box;
    color: cornflowerblue;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

    
}

@mixin AppLayout {
    display: grid;
    height: 1000px;
    width: 300px;
    margin: 20px auto;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 100px auto 100px;
    grid-template-areas:
        "header nav"
        "content content"
        "footer footer"
        ;

    @media screen and (max-width: 400px) {
        height: auto;
        width: 100%;
        grid-template-rows: 100px 100px auto 100px;
        grid-template-areas:
            "header"
            "nav"
            "content"
            "footer"
            ;
    }
}

@mixin AppHeader {
    grid-area: header;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;

    h1 {
        text-align: center;
        font-size: 3rem;
    }
}

@mixin AppFooter {
    grid-area: footer;
    display: flex;
    flex-direction: row-reverse;
}

@mixin AppNav {
    grid-area: nav;

    ul {
        height: 100%;
        margin: auto 0;
        padding: 0px;
        display: flex;
        flex-direction: row;
        align-items: space-between;

        li {
            padding: 20px;
            list-style-type: none;
            width: 200px;
            height: 100%;
            display: flex;
            flex-direction: row;
            align-items: center;
        }

        a {
            display: block;
            text-decoration: none;
            text-align: center;
            margin: 30% 0;
            padding: 10px;
            height: 40px;
            width: 100%;
        }

        .underlined {
            color: cornflowerblue;
            text-decoration: underline;
            text-underline-offset: 10px;
            text-decoration-thickness: 3px;
            transition: 0.2s;

            &:hover {
                transition: 1s;
                color: mediumblue;
            }
        }
        
        
    }
}

@mixin AppMain {
    grid-area: content;
}

@mixin App {
    // defaults

    @include AppLayout;

    .formParent {
        @include Form.FormParent;
    }

    header {
        @include AppHeader;
    }

    footer {
        @include AppFooter;
    }

    nav {
        @include AppNav;
    }

    main {
        @include AppMain;
    }

    // default mobile width?
    width: 300px;
    height: 1000px;
    
    @media screen and (min-width: v.$mobile-wide) {
        width: 350px;
    }

    @media screen and (min-width: v.$small-wide) {
        width: 450px;
    }

    @media screen and (min-width: v.$normal-wide) {
        width: 600px;   
    }

    @media screen and (min-width: v.$very-wide) {
        width: 900px;
    }

    @media screen and (min-width: v.$super-wide) {
        width: 900px;
    }
}