@use "app" as App;

@mixin html {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;

    background-color: white;

    * {
        background-color: white;
        box-sizing: border-box;
    }

    box-sizing: border-box;
    color: cornflowerblue;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

    
}

@mixin App {
    @include App.App;
}