@mixin CardOccasion {
    ul.CardOccasion {
        display: flex;
        flex-direction: row;
        list-style-type: none;
        margin: 0;
        padding: 0;
    }

    li.CardOccasion {
        list-style-type: none;
        text-decoration: none;
        list-style: none;
        border: 2px solid cornflowerblue;
        margin: 5px;
        padding: 0px;
        width: 200px;
        display: flex;
        justify-content: center;
        transition: 1s;

        &:hover {
            transition: 1s;
            background-color: cornflowerblue;
            cursor: pointer;

            * {
                transition: 1s;
                color: white;
                background-color: cornflowerblue;
            }
        }
        
        &.selected {
            background-color: cornflowerblue;
            transition: 1s;
        }
        
        &.selected * {
            background-color: cornflowerblue;
            color: white;
            transition: 1s;
        }

        &.selected:hover, &.selected:hover * {
            background-color: blue;
        }

    }
}