@use "card_occasion" as card_occasion;
@use "person_details" as person_details;
@use "labeled_input" as labeled_input;
@use "collaborator_list" as collaborator_list;
@use "input_list" as input_list;
@use "unlabeled_input" as unlabeled_input;

@mixin CardOccasion {
    @include card_occasion.CardOccasion;
}

@mixin PersonDetails {
    @include person_details.PersonDetails;
}

@mixin LabeledInput {
    @include labeled_input.LabeledInput;
}

@mixin CollaboratorList {
    @include collaborator_list.CollaboratorList;
}

@mixin InputList {
    @include input_list.InputList;
}

@mixin UnLabeledInput {
    @include unlabeled_input.UnLabeledInput;
}

@mixin all {
    @include card_occasion.CardOccasion;
    @include person_details.PersonDetails;
    @include labeled_input.LabeledInput;
    @include collaborator_list.CollaboratorList;
    @include input_list.InputList;
    @include unlabeled_input.UnLabeledInput;

    div.inlineInputs {
        display: flex;
        flex-direction: row;
        justify-content: center;
        font-size: 2.2rem;
        color: black;
    }

    div.inlineInputs > input {
        max-width: 20%;
    }
}