@mixin LabeledInput {
    .LabeledInput {

        position: relative;

        label {
            color: #999;
            font-size: 1rem;
            position: absolute;
            pointer-events: none;
            top: -20px;
            left: -10px;
            font-size: 0.75rem;
            color: cornflowerblue;
        }

        input {
            font-size: 1rem;
            padding: 5px;
            display: block;
            width: 300px;
            border: none;
            border-bottom: 1px solid cornflowerblue;

            &:focus {
                outline: none;
            }

            &:invalid {
                border: none;
                border-bottom: 2px solid salmon;
            }

            &:invalid ~ label {
                color: salmon;
            }
        }
    }
}
