@mixin PersonDetails {
    .PersonDetails {
        display: grid;
        grid-template-columns: 1fr 2fr 1fr 2fr;

        input {
            grid-area: a;
            padding: 12px;

            &:focus {
                border-color: tomato;
            }
        }

        label {
            grid-area: a;
        }
    }
}